.card {
  border: 2px solid #161a1db8;
}

.col-md-6 {
  background-color: #fff;
  padding: 1%;
}

.col-md-6 input.form-control {
  border: 2px solid #a57f2c;
}

.custom-file-input::file-selector-button {
  color: #fff !important;
  background-color: #a57f2c !important;
  border: none !important;
  border-radius: 7%;
  padding: 0.5rem 1rem !important;
  cursor: pointer;
}

.custom-file-input:hover::file-selector-button {
  background-color: #9b2247 !important;
}

.btn-generar-word {
  background-color: #191d1f !important;
  color: #fff !important;
  border: none !important;
}

.btn-generar-word:hover {
  background-color: #080808 !important;
}
